body
{
    background: darkslateblue;
    overflow-y: hidden;
}

.logo
{
    border-radius: 50%;
}
.icon
{
    border-radius: 50%;
}

.menu-bar
{
    position: fixed;
}

.menu
{
    border: 1px solid black;
    position: relative;
    display: flex;
    width: 100vw;
    right: 10px;
    height: 200px;
    background: slateblue;
}

.logo-image
{
    position: absolute;
    left: 5%;
    top: 40%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.icon-image
{
    position: absolute;
    left: 95%;
    top: 40%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.content-page
{
    background: slateblue;
    top: 100%;
    position: absolute;
    width: 1000px;
    height: 78vw;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.content-title
{
    width: 400px;
    position: absolute;
}

.content-page-text
{
    width: 400px;
    position: absolute;
    font-size: 45px;
    right: 40%;
    left: 30%;
    transform: translate(50%, 50%);
}

.add-new-recipe-button
{
    position: absolute;
    left: 90%;
    background: black;
    top: 80%;
}

.add-recipe-button
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    font-size: 80px;
    background: aqua;
    color: white;
}

.login_form {
    display: block;
    margin-top: 0em;
    position: absolute
}

#username {
    top: 30%
    left: 40%
}

#login_username_field {
    position: absolute;
    top: 40%;
    left: 40%;
}

#login_password_field {
    position: absolute;
    top: 45%;
    left: 40%;
}
#login_remember_me{
    position: absolute;
    top: 50%;
    left: 40%;
}

#login_submit_btn{
    position:absolute;
    top: 55%;
    left: 45%;
    right: 45%;
}