body
{
    background: darkslateblue;
    overflow-y: hidden;
}

.logo
{
    border-radius: 50%;
}
.icon
{
    border-radius: 50%;
}

.menu-bar
{
    position: fixed;
}

.menu
{
    border: 1px solid black;
    position: relative;
    display: flex;
    width: 100vw;
    right: 10px;
    height: 200px;
    background: slateblue;
}

.logo-image
{
    position: absolute;
    left: 5%;
    top: 40%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.icon-image
{
    position: absolute;
    left: 95%;
    top: 40%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.content-page
{
    background: slateblue;
    top: 100%;
    position: absolute;
    width: 1000px;
    height: 78vw;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.content-title
{
    width: 400px;
    position: absolute;
}

.content-page-text
{
    width: 400px;
    position: absolute;
    font-size: 45px;
    right: 40%;
    left: 30%;
    transform: translate(50%, 50%);
}

.add-new-recipe-button
{
    position: absolute;
    left: 90%;
    background: black;
    top: 80%;
}

.add-recipe-button
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    font-size: 80px;
    background: aqua;
    color: white;
}

.login_form {
    display: block;
    margin-top: 0em;
    position: absolute;
}

#email_field {
    position: absolute;
    top: 40%;
    left: 40%;
}

#password_field {
    position: absolute;
    top: 45%;
    left: 40%;
}

#password_again_field {
    position: absolute;
    top: 50%;
    left: 40%;
}

#form_name {
    position: absolute;
    top: 55%;
    left: 40%;
}

#about_form {
    position: absolute;
    top: 60%;
    left: 40%;
}

#submit_btn {
    position: absolute;
    top: 75%;
    left: 40%;
}

#about {
    resize: none;
}

.btn-register {
    position: absolute;
    background: black;
    width: 130px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    color: white;
    left: 92%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.btn-login {
    position: absolute;
    width: 80px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    color: white;
    left: 85%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.btn-txt{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.logout-btn {
    position: absolute;
    background: black;
    width: 130px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    color: white;
    left: 92%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.user-nickname{
    position: absolute;
    width: 80px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    left: 85%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#recipe_name_label{
    position:absolute;
    width: 200px;
    height: 15px;
    top: 25%;
    left: 30%;
}

#recipe_name{
    position:absolute;
    width: 200px;
    height: 20px;
    top: 27%;
    left: 30%;
}

#ingredients_label{
    position:absolute;
    width: 200px;
    height: 20px;
    top: 31%;
    left: 30%;
}

#ingredients{
    position:absolute;
    width: 500px;
    height: 200px;
    top: 33%;
    left: 30%;
    resize: none;
}

#recipe_label{
    position:absolute;
    width: 200px;
    height: 20px;
    top: 55%;
    left: 30%;
}

#recipe{
    position:absolute;
    width: 500px;
    height: 200px;
    top: 58%;
    left: 30%;
    resize: none;
}

#new_recipe_submit_btn{
   position:absolute;
    width: 50px;
    height: 20px;
    top: 83%;
    left: 30%;
    resize: none;
}

.recipe-title{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 10%;
}

/////////////

#username {
    top: 30%
    left: 40%
}

#login_username_field {
    position: absolute;
    top: 40%;
    left: 40%;
}

#login_password_field {
    position: absolute;
    top: 45%;
    left: 40%;
}
#login_remember_me{
    position: absolute;
    top: 50%;
    left: 40%;
}

#login_submit_btn{
    position:absolute;
    top: 60%;
    left: 40%;
    right: 45%;
}

.btn-register {
    position: absolute;
    background: black;
    width: 130px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    color: white;
    left: 92%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.btn-login {
    position: absolute;
    width: 80px;
    height: 50px;
    border: none;
    font-size: 15px;
    background: aqua;
    color: white;
    left: 85%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.btn-login-txt{
    top: 45%;
    left: 10%;
    text-decoration: none;
}

.btn-register-txt{
    top: 45%;
    text-decoration: none;
}

#message{
    position:absolute;
    top: 55%;
    left: 40%;
    right: 45%;
}

#icon-logout{
    position: absolute;
    left: 95%;
    top: 40%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}

.right-btn{
    position:absolute;
    width: 100px;
    height: 100px;
    left: 65%;
    top: 90%;
}

.left-btn{
    position:absolute;
    width: 100px;
    height: 100px;
    left: 35%;
    top: 90%;
}

.request-txt-area{
    position:absolute;
    left: 60%;
    top: 10%;
    resize: none;
    width: 150px;
    height: 22px;
}

#request-go-btn-label{
    position:absolute;
    top: -8%;
    left: -20%;
    width: 60px;
    height: 22px;
}

#request-go-btn{
    position:absolute;
    left: 70%;
    top: 10%;
    width: 60px;
    height: 24px;
}

#recipe-recipe-name{
    position: absolute;
    left: 5%;
    top: 5%;
}

#recipe-ingredients{
    position: absolute;
    left: 5%;
    top: 10%;
}

#recipe-recipe{
    position: absolute;
    left: 5%;
    top: 15%;
}