<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}{% endblock %}
    <title>MyRec</title>
</head>
<body>
    <div class="menu-bar">
        <div class="menu">
            <div class="logo-image">
                <img src="/static/Diablo.jpg" width="100px" height="100px" class="logo" alt="logo">
            </div>

            {% if current_user.is_authenticated %}
                <div class="icon-image">
                    <a id="icon-logout" href="/logout">
                        <img src={pic_dir} width="100px" height="100px" class="logo" alt="logo">
                    </a>
                </div>
            {% else %}
                <div class="btn-register">
                    <a class="btn-register-txt" href="/register">Зарегистрироваться</a>
                </div>
                <div class="btn-login">
                    <a class="btn-login-txt" href="/login">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="add-new-recipe-button">
        <button class="add-recipe-button" onclick="location.href='/new_recipe'">
            +
        </button>
    </div>
</body>
</html>