{% extends "base.html" %}
{% block style %} <link rel="stylesheet" href="./static/style.css" type="text/css"> {% endblock %}
{% block content %} <div class="global-content-page">
        <div class="content-page">
            {% set test = namespace(counter=0) %}
            {% for item in recipes %}
            <div class="recipe-title" style="top:{{ test.counter }}%">
                <a href="/recipe/{{item.id}}">{{item.title}}</a>
            </div>
            {% set test.counter = test.counter + 6 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}