{% extends "base.html" %}
{% block style %} <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"> {% endblock %}
{% block content %} <div class="global-content-page">
        <div class="content-page">
            {% set test = namespace(counter=5) %}
            {% for item in recipes %}
            <div class="recipe-title" style="top:{{ test.counter }}%">
                <a href="/recipe/{{item.id}}">{{item.title}}</a>
            </div>
            {% set test.counter = test.counter + 4 %}
            {% endfor %}
        </div>
        <form method="POST">
        <textarea class="request-txt-area" name="request-text-area"></textarea>
        <button id="request-go-btn">
            <label id="request-go-btn-label" for="request-go">Поиск</label>
        </button>
        <input type="button" id="request-go">
        </form>
        {% if page_count > page + 1 %}
        <div class="right-btn">
            <button class="right-button" onclick="location.href='/recipes/{{ page + 1 }}{{ page_request}}'">
                ==>
            </button>
        </div>
        {% endif %}
        {% if page != 0 %}
            <div class="left-btn">
                <button class="right-button" onclick="location.href='/recipes/{{ page - 1 }}{{ page_request}}'">
                    <==
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}