{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
{% endblock %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p id="login_username_field">
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p id="login_password_field">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p id="login_remember_me">
            {{ form.remember_me.label }}<br>
            {{ form.remember_me(class="form-control") }}<br>
            {% for error in form.remember_me.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p id="login_submit_btn">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p id="message">{{message}}</p>

    </form>
{% endblock %}