{% extends "base.html" %}
{% block style %} <link rel="stylesheet" href="./static/style.css" type="text/css"> {% endblock %}
{% block content %}
<form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.recipe_name.label(id='recipe_name_label')}}<br>
            {{ form.recipe_name }}<br>
            {% for error in form.recipe_name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.recipe.label(id='recipe_label')}}<br>
            {{ form.recipe }}<br>
            {% for error in form.recipe.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.ingredients.label(id='ingredients_label')}}
            {{ form.ingredients }}<br>
            {% for error in form.ingredients.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p id="new_recipe_submit_btn">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}